*{
  /* 必写内容 */
  /* get rid of the padding and margin that is default in every brower */
  margin:0;
  padding:0;
  /* width: 50pxと決まっているなら、paddingとborderもその50pxの中に含まれるようになる */
  box-sizing: border-box;
}

.person{
  background: #eeeeee;
  width:17rem;
  padding:1rem;
  margin: 2rem auto;
}